<%- include('../partials/header') %>

<h2>Edit Product</h2>
<form
  action="/products/<%= product._id %>?_method=PUT"
  method="post"
  enctype="multipart/form-data"
>
  <label>Title</label><br />
  <input type="text" name="title" value="<%= product.title %>" required /><br />
  <label>Description</label><br />
  <textarea name="description"><%= product.description %></textarea><br />
  <label>Price (INR)</label><br />
  <input
    type="number"
    name="price"
    value="<%= product.price %>"
    required
  /><br />
  <label>Category</label><br />
  <input type="text" name="category" value="<%= product.category %>" /><br />
  <label>Available</label>
  <input type="checkbox" name="isAvailable" <%= product.isAvailable ? 'checked'
  : '' %>><br />
  <label>Replace Images (max 4)</label><br />
  <input type="file" name="images" multiple accept="image/*" /><br />
  <button type="submit">Save Changes</button>
</form>

<%- include('../partials/footer') %>
